<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="js/interceptors.js"></script>
<body>

  <div class="container" id="app">
       <div class="header">
           <div id="headtext">&nbsp;&nbsp;商城后台管理系统</div>
              <div id="name">
                  <p v-test>&nbsp;{{ name }}</p>
                  <button class="button6" @click="logout" style="vertical-align:middle;background-color: #8a86865c"><span>退出</span></button>
              </div>
       </div>
      <div class="body-container">
          <div class="left-container">
              <ul>
                  <li v-show="a" @click="getUserList()">用户管理</li>
                  <li v-show="b" @click="getCustomerList()">顾客管理</li>
                  <li v-show="c" @click="getProductList()">商品管理</li>
                  <li  @click="getLogList()">登录日志</li>
              </ul>
          </div>
          <div class="right-container">
              <h2 v-show="userSee" style="margin-bottom: 5px">用户管理&nbsp;
                  <button class="button6" id="save1" @click="save1()" style="vertical-align:middle"><span>添加用户</span></button>
              </h2>
              <h2 v-show="CustomerSee" style="margin-bottom: 5px">顾客管理&nbsp;
                  <button class="button6" id="save2" @click="save2()" style="vertical-align:middle"><span>添加顾客</span></button>
              </h2>
              <h2 v-show="productSee" style="margin-bottom: 5px">商品管理&nbsp;
                  <button class="button6" id="save3" @click="save3()" style="vertical-align:middle"><span>添加商品</span></button>
              </h2>
              <h2 v-show="logSee" style="margin-bottom: 5px">登录日志&nbsp;
              </h2>
              <hr style=" border-top:3px double #79a587;">
              <br>
              <table v-show="userSee" border="1" >
                  <thead>
                  <tr class="table-top">
                      <th>ID</th>
                      <th>用户名</th>
                      <th>密码</th>
                      <th>角色</th>
                      <th>角色代码</th>
                      <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="mytable" v-for="item in ulist" :key="item.id">
                      <td>{{ item.number }}</td>
                      <td>{{item.username}}</td>
                      <td>{{item.password}}</td>
                      <td>{{item.rolesList[0].roleName}}</td>
                      <td>{{item.roleId}}</td>
                      <td>
                          <button class="buttonx button7" @click="del1(item.id)">删除</button>
                          &nbsp;&nbsp;<button class="buttonx button8" @click="update1(item.id)">编辑</button>
                          </td>
                  </tr>
                  <tr>
                      <td colspan="6">
                          <div style="float: left">
                              <button class="button button5" readonly="readonly">共<<span style="color: #008CBA">{{upages.userTotal}}</span>>条数据</button>
                          </div>
                          <div class="pageList">
                              <button class="button button1" @click="down1">上一页</button>
                              <input class="button button2" readonly="readonly" v-model="count1"/>
                              / <button class="button button4" readonly="readonly">{{upages.pages}}</button>
                              <button class="button button3" @click="up1">下一页</button>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>

              <table v-show="CustomerSee" border="1" style="border-collapse: collapse">
                  <thead>
                  <tr class="table-top">
                      <th>ID</th>
                      <th>用户名</th>
                      <th>密码</th>
                      <th>年龄</th>
                      <th>城市</th>
                      <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in clist" :key="item.id">
                      <td>{{ item.number }}</td>
                      <td>{{item.cName}}</td>
                      <td>{{item.cPassword}}</td>
                      <td>{{item.age}}</td>
                      <td>{{item.address}}</td>
                      <td>
                          <button class="buttonx button7" @click="del2(item.id)">删除</button>
                          &nbsp;&nbsp;<button class="buttonx button8" @click="update2(item.id)">编辑</button>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="6">
                          <div style="float: left">
                              <button class="button button5" readonly="readonly">共<<span style="color: #008CBA">{{cpages.customerTotal}}</span>>条数据</button>
                          </div>
                          <div class="pageList">
                              <button class="button button1" @click="down2">上一页</button>
                              <input class="button button2" readonly="readonly" v-model="count2"/>
                              / <button class="button button4" readonly="readonly">{{cpages.pages}}</button>
                              <button class="button button3" @click="up2">下一页</button>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
              <table v-show="productSee" border="1" style="border-collapse: collapse">
                  <thead>
                  <tr class="table-top">
                      <th>ID</th>
                      <th>商品</th>
                      <th>品牌</th>
                      <th>价格</th>
                      <th>数量</th>
                      <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in plist" :key="item.id">
                      <td>{{ item.number }}</td>
                      <td>{{item.commodity}}</td>
                      <td>{{item.brand}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.amount}}</td>
                      <td><button class="buttonx button7" @click="del3(item.id)">删除</button>
                          &nbsp;&nbsp;<button class="buttonx button8" @click="update3(item.id)">编辑</button>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="6">
                          <div style="float: left">
                              <button class="button button5" readonly="readonly">共<<span style="color: #008CBA">{{ppages.productTotal}}</span>>条数据</button>
                          </div>
                          <div class="pageList">
                                  <button class="button button1" @click="down3">上一页</button>
                                  <input class="button button2" readonly="readonly" v-model="count3"/>
                              / <button class="button button4" readonly="readonly">{{ppages.pages}}</button>
                                  <button class="button button3" @click="up3">下一页</button>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
              <table v-show="logSee" border="1" style="border-collapse: collapse">
                  <thead>
                  <tr class="table-top">
                      <th>ID</th>
                      <th>用户名</th>
                      <th>角色代码</th>
                      <th>角色名</th>
                      <th>登录IP</th>
                      <th>登录日期</th>
                      <th>登录时间</th>
                      <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in logList" :key="item.logId">
                      <td>{{ item.number }}</td>
                      <td>{{item.username}}</td>
                      <td>{{item.roleId}}</td>
                      <td>{{item.roleName}}</td>
                      <td>{{item.ip}}</td>
                      <td>{{item.loginDate}}</td>
                      <td>{{item.loginTime}}</td>
                      <td><button v-show="d" class="buttonx button7" @click="del4(item.logId)">删除</button>
                          <button v-show="e" class="buttonx button7">无权限</button>
                          <button v-show="f" class="buttonx button7">无权限</button></td>
                  </tr>
                  <tr>
                      <td colspan="8">
                          <div style="float: left">
                              <button class="button button5" readonly="readonly">共<<span style="color: #008CBA">{{LogPages.logTotal}}</span>>条数据</button>
                          </div>
                          <div class="pageList">
                              <button class="button button1" @click="down4">上一页</button>
                              <input class="button button2" readonly="readonly" v-model="count4"/>
                              / <button class="button button4" readonly="readonly">{{LogPages.pages}}</button>
                              <button class="button button3" @click="up4">下一页</button>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <script>
      var name = sessionStorage.getItem('roleName');
      let token =  localStorage.getItem("uToken");
      var vm = new Vue({
          el:'#app',
          data:{
              upages:"",
              cpages:"",
              ppages:"",
              LogPages:"",
              count1:1,
              count2:1,
              count3:1,
              count4:1,
              plist:[],
              ulist:[],
              clist:[],
              logList:[],
              productSee:false,
              userSee:false,
              CustomerSee:false,
              logSee:false,
              name:name,
              token:token,
              a:false,
              b:false,
              c:false,
              d:false,
              e:false,
              f:false
          },
         mounted:function(){
             this.show();
             this.getCustomerPages();
             this.getProductPages();
             this.getUserPages();
             this.getLogPages();
         },
          methods: {

              getUserPages:function (){
                  var that = this;
                  axios({
                      method: "post",
                      url: "User/getUserPages",
                      data: {
                      }
                  }).then(function (response) {
                       that.upages = response.data;
                  }, function (err) {
                  })
              },
              getCustomerPages:function (){
                  var that = this;
                  axios({
                      method: "post",
                      url: "Customer/getCustomerPages",
                      data: {
                      }
                  }).then(function (response) {
                      that.cpages = response.data
                  }, function (err) {
                  })
              },
              getProductPages:function (){
                  var that = this;
                  axios({
                      method: "post",
                      url: "Product/getProductPages",
                      data: {
                      }
                  }).then(function (response) {
                      that.ppages = response.data
                  }, function (err) {
                  })
              },
              getLogPages:function (){
                  var that = this;
                  axios({
                      method: "post",
                      url: "loginLog/getLogPages",
                      data: {
                      }
                  }).then(function (response) {
                      that.LogPages = response.data
                  }, function (err) {
                  })
              },
              up1:function (){
                  var that = this;
                  if (that.count1===that.upages.pages){
                      that.count1=that.upages.pages
                  }else {
                      that.count1++;
                  }
                  var limit = that.count1;
                  axios({
                      method: "post",
                      url: "User/findUserByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.userSee = true;
                      that.CustomerSee = false;
                      that.productSee = false;
                      that.logSee=false;
                      that.ulist = response.data
                  }, function (err) {
                  })
              },
              down1:function (){
                  var that = this;
                  if (that.count1===1){
                      that.count1=1;
                  }else {
                      that.count1--
                  }
                  let limit= that.count1;
                  axios({
                      method: "post",
                      url: "User/findUserByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.userSee = true;
                      that.CustomerSee = false;
                      that.productSee = false;
                      that.logSee=false;
                      that.ulist = response.data
                  }, function (err) {
                  })
              },

              up2:function (){
                  var that = this;
                  if (that.count2===that.cpages.pages){
                      that.count2=that.cpages.pages;
                  }else {
                      that.count2++;
                  }
                  var limit = that.count2;
                  axios({
                      method: "post",
                      url: "Customer/findCustomerByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.userSee = false;
                      that.CustomerSee = true;
                      that.productSee = false;
                      that.logSee=false;
                      that.clist = response.data
                  }, function (err) {
                  })
              },

              down2:function (){
                  var that = this;
                  if (that.count2===1){
                      that.count2=1;
                  }else {
                      that.count2--
                  }
                  let limit= that.count2;
                  axios({
                      method: "post",
                      url: "Customer/findCustomerByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.userSee = false;
                      that.CustomerSee = true;
                      that.productSee = false;
                      that.logSee=false;
                      that.clist = response.data
                  }, function (err) {
                  })
              },
              up3:function (){
                  var that = this;
                  if (that.count3===that.ppages.pages){
                      that.count3=that.ppages.pages
                  }else {
                      that.count3++;
                  }
                  var limit = that.count3;
                  axios({
                      method: "post",
                      url: "Product/findProductByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                          that.userSee = false;
                          that.CustomerSee = false;
                          that.productSee = true;
                          that.logSee=false;
                          that.plist = response.data
                      }, function (err) {
                      })
              },

              down3:function (){
                  var that = this;
                  if (that.count3===1){
                      that.count3=1;
                  }else {
                      that.count3--
                  }
                  let limit= that.count3;
                  axios({
                      method: "post",
                      url: "Product/findProductByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.userSee = false;
                      that.CustomerSee = false;
                      that.productSee = true;
                      that.logSee=false;
                      that.plist = response.data
                  }, function (err) {
                  })
              },

              up4:function (){
                  var that = this;
                  if (that.count4===that.LogPages.pages){
                      that.count4=that.LogPages.pages
                  }else {
                      that.count4++;
                  }
                  var limit = that.count4;
                  axios({
                      method: "post",
                      url: "loginLog/findLogByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.productSee = false;
                      that.CustomerSee = false;
                      that.userSee = false;
                      that.logSee=true;
                      that.logList = response.data
                  }, function (err) {
                  })
              },

              down4:function (){
                  var that = this;
                  if (that.count4===1){
                      that.count4=1;
                  }else {
                      that.count4--
                  }
                  let limit= that.count4;
                  axios({
                      method: "post",
                      url: "loginLog/findLogByLimit",
                      data: {
                          limit:limit
                      }
                  }).then(function (response) {
                      that.productSee = false;
                      that.CustomerSee = false;
                      that.userSee = false;
                      that.logSee=true;
                      that.logList = response.data
                  }, function (err) {
                  })
              },
              show: function () {
                  var that = this;
                  if (name === "主管理员") {
                      that.a = true;
                      that.b = true;
                      that.c = true;
                      that.d = true;
                      that.getUserList();
                  }
                  if (name === "商品管理员") {
                      that.c = true;
                      that.e = true;
                      that.getProductList();
                  }
                  if (name === "用户管理员") {
                      that.b = true;
                      that.f = true;
                      that.getCustomerList();
                  }
              },
              getUserList: function () {
                  var that = this;
                  axios({
                      method: "post",
                      url: "User/findUserAndRoles",
                      data: {
                      }
                  })
                      //.get('User/findUserAndRoles')
                      .then(function (response) {
                          that.productSee = false;
                          that.CustomerSee = false;
                          that.userSee = true;
                          that.logSee=false;
                          that.ulist = response.data;
                      }, function (err) {
                      })
              },
              getCustomerList: function () {
                  var that = this;
                  axios({
                      method: "post",
                      url: "Customer/findAllCustomer",
                      data: {
                      }
                  })
                      //.get('Customer/findAllCustomer')
                      .then(function (response) {
                          that.productSee = false;
                          that.userSee = false;
                          that.CustomerSee = true;
                          that.logSee=false;
                          console.log(response.data)
                          that.clist = response.data;
                      }, function (err) {
                      })
              },
              getProductList: function () {
                  var that = this;
                  axios({
                      method: "post",
                      url: "Product/findAllProduct",
                      data: {
                      }
                  })
                      //.get('Product/findAllProduct')
                      .then(function (response) {
                          that.userSee = false;
                          that.CustomerSee = false;
                          that.productSee = true;
                          that.logSee=false;
                          that.plist = response.data
                      }, function (err) {
                      })
              },
              del1: function (id) {
                  if (confirm("确认删除？")) {
                      var that = this;
                      axios({
                          method: "post",
                          url: "/User/deleteUser",
                          data: {
                              id
                          }
                      }).then(function (response) {
                          that.getUserList();
                          that.getUserPages();
                          that.count1=1;
                      }, function (err) {
                      })
                  }
                  else {
                  }
              },
              del2: function (id) {
                  if (confirm("确认删除？")) {
                      var that = this;
                      axios({
                          method: "post",
                          url: "/Customer/deleteCustomer",
                          data: {
                              id
                          }
                      }).then(function (response) {
                          that.getCustomerList();
                          that.getCustomerPages();
                          that.count2=1;
                      }, function (err) {

                      })
                  } else {
                  }
              },
              del3: function (id) {
                  if (confirm("确认删除？")) {
                      var that = this;
                      axios({
                          method: "post",
                          url: "/Product/deleteProduct",
                          data: {
                              id
                          }
                      }).then(function (response) {
                          that.getProductList();
                          that.getProductPages();
                          that.count3 = 1;
                      }, function (err) {

                      })
                  }
                  else {
                  }
              },
              del4: function (logId) {
                  if (confirm("确认删除？")) {
                      var that = this;
                      axios({
                          method: "post",
                          url: "/loginLog/deleteLog",
                          data: {
                              logId
                          }
                      }).then(function (response) {
                          that.getLogPages();
                          that.getLogList();
                          that.count4 = 1;
                      }, function (err) {

                      })
                  }
                  else {
                  }
              },
              save1:function () {
                  window.location.href="saveUser.html";
              },
              save2:function () {
                  window.location.href="saveCustomer.html";
              },
              save3:function () {
                  window.location.href="saveProduct.html";
              },
              update1:function (id) {
                  sessionStorage.setItem('Id',id);
                  window.location.href="updateUser.html";
              },
              update2:function (id) {
                  sessionStorage.setItem('Id',id);
                  window.location.href="updateCustomer.html";
              },
              update3:function (id) {
                  sessionStorage.setItem('Id',id);
                  window.location.href="updateProduct.html";
              },
              logout:function () {
                  var that = this;
                  axios({
                      method: "post",
                      url: "/User/logout",
                      data: {
                          token:token
                      }
                  }).then(function (response) {
                      sessionStorage.removeItem('roleName');
                      sessionStorage.removeItem('Id');
                      window.location.href="index.html";
                  }, function (err) {

                  })
              },
              getLogList:function (){
                  var that = this;
                  axios({
                      method: "post",
                      url: "loginLog/findLogByLimit",
                      data: {
                          limit:1
                      }
                  })
                      .then(function (response) {
                          that.productSee = false;
                          that.CustomerSee = false;
                          that.userSee = false;
                          that.logSee=true;
                          that.logList = response.data;
                      }, function (err) {
                      })
              }
              }
          })
  </script>

</body>
</html>
