
 *{
     margin: 0;
     padding: 0;
  }

html,body{
    width:100%;
    height:100%;
    overflow-y: hidden;
    background-color: #d7e2e9;
}

.container{
    width:100%;
    height:100%;
}

.body-container{
    min-width:1000px;
    height:100%;
    position:relative;
}

.container  .header{
    border-bottom: 3px solid black;
    max-width:100%;
    min-width:1000px;
    height:100px;
    background-color: #5e6e6e;
}

.container .left-container{
    min-width: 180px;
    height:100%;
    position:absolute;
    left: 0;
    background-color: #eaf2f7;
}

.container .left-container ul {
    list-style: none;
    width:100%;
    height:auto;
}

.container .left-container ul li{
    width:100%;
    height:40px;
    line-height: 40px;
    text-align: center;

}

.container .left-container ul li:hover{
    background-color: #cfcff1;
    cursor: pointer;
}

.container .right-container{
    border-left: 3px solid black;
    padding:15px;
    background-color: #d7e2e9;
    height: 100%;
    margin-left: 180px;
    overflow: scroll;
}
#headtext {
    padding-top: 30px;
    font-size: 40px;
    color: white;
}
td{
    width:100%;
    height:35px;
    text-align:center;

}
th{
    height:45px;
    width: 100%;
}
#name{
    position: fixed;
    top: 1em;
    right: 1em;
    font-size: 20px;
    color:white;
}
.table-top{
    background-color:cornflowerblue;
}
.pageList{
    float: right;
    padding-right: 20px;
}



ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}



.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #5baab1;
}

.button1:hover {
    background-color: #5baab1;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button3:hover {
    background-color: #008CBA;
    color: white;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 25px;
    height: 32px;
    padding: 4px 6px;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width: 25px;
    height: 32px;
    padding: 4px 6px;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button5:hover {background-color: #e7e7e7;}
.button4:hover {background-color: #e7e7e7;}
.button2:hover {background-color: #e7e7e7;}
.button6 {
    display: inline-block;
    border-radius: 4px;
    background-color: #7dbc8c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button6 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button6 span:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button6:hover span {
    padding-right: 25px;
}

.button6:hover span:after {
    opacity: 1;
    right: 0;
}
.buttonx {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button7 {
    background-color: white;
    color: #000000;
    border: 1px solid #f44336;
    border-radius: 8px;
}

.button7:hover {
    background-color: #f44336;
    color: white;
}
.button8 {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 8px;
}

.button8:hover {
    background-color: #4CAF50;
    color: white;
}



table
{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    table-layout:fixed;
    width:100%;
}
table td, table th
{
    border: 1px solid #cad9ea;
    color: #000000;
}
table thead th
{
    background-color: #c1dbde;
    width: 100px;
}
table tr:nth-child(odd)
{
    background: #fff;
}
table tr:nth-child(even)
{
    background: #f5fafa;
}
table tr:hover {
    background-color: #a0d2c4;
}