<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfy.mapper.LoginLogMapper">
    <!--<resultMap id="loginLogMap" type="map">
        <id property="logId" column="logId"/>
        <result property="username" column="username"/>
        <result property="ip" column="ip"/>
        <result property="loginDate" column="loginDate"/>
        <result property="loginTime" column="loginTime"/>
    </resultMap>-->

    <insert id="addLoginLog" parameterType="map">
        insert into login_log(username,roleId,roleName,ip,loginDate,loginTime)
        values(#{username},#{roleId},#{roleName},#{ip},#{loginDate},#{loginTime})
    </insert>

</mapper>